.Navigation {
	display: flex;
	width: 95vw;
	justify-content: space-between;
	border: 2px solid black;
	border-top: none;
	position: sticky;
	border-radius: 0px 0px 50px 50px;
	background: #F0DEFF;
	margin: -8px auto 15px auto;
	text-shadow: 0px 0px 1px #410773;
}
.subnav {
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
button{
	padding:  0px 6px 0px 6px;
	text-decoration: none;
	text-shadow: 0px 0px 2px white;
	background: none;
	border: none;
	font-family: Zenloop;
	color: #410773;
	letter-spacing: -1px;
	font-weight: 1000;
	font-size: 28px;
	cursor: pointer;
	text-shadow: 0px 0px 1px #410773;
}


@media screen and (max-width: 710px) {
	button {
		font-size: 25px;
	}
}