@font-face {
  font-family: Zenloop;
  src:  url("./Fonts/ZenLoop.ttf");
}

html {
  background: #9173AB;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}